{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div id="login-post">
    <div class="container-fluid">
        <div class="row">
            {% if form.errors %}
            
            {% endif %}
            <div class="card" id="login-form">

                <div class="card-body">

                    <form action="/accounts/login/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form%}

                        <div class="form-group">
                            <input type="submit" class="btn btn-light btn-sm" value="Log in"
                                style="padding-left: 100px;padding-right: 100px; background-color:#8dbdeb;color:whitesmoke;">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>
                    <p> <span style="font-size: 14; color: rgb(168, 165, 165);">Don't have an account?</span> <a
                            href="/accounts/register/">sign-up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}